.button_comparison
    width 100%
    display flex
    justify-content center
    margin 50px 0

    a
        background: #F8C140;
        border-radius: 5px;
        width: 238px;
        display flex
        justify-content center
        align-items center
        height: 50px;
        text-transform: uppercase;

        color: #2B2B31;
        font-family Montserrat
        font-weight 500
        font-size 16px
        text-decoration none

        transition all .2s linear

        &:hover
            background: linear-gradient(127.03deg, #1F8058 -35.24%, #0D4A31 75.51%);
            color #fff