.container_specifications
    margin-top 100px

    h2
        font-family 'Playfair Display Bold', sans-serif
        font-size 32px
        font-weight: 700
        color: #093624;
        margin-bottom 50px
        position relative

        &:before
            content ''
            width 59px
            border-bottom: 3px solid #BECEC7
            position absolute
            left 0
            bottom -20px

    .text
        display flex
        justify-content center
        flex-direction: column

        p

            font-family Montserrat
            font-size 16px
            font-weight: 700
            color: #093624;

    .blockSpecifications
        h3

            font-family 'Playfair Display Bold', sans-serif
            font-size 24px
            font-weight: 700
            color: #093624;
            margin-bottom 10px
            position relative

        .block-container
            margin-bottom 60px


        .blocks
            > div
                background: linear-gradient(127.03deg, #1F8058 -35.24%, #0D4A31 75.51%);
                .item
                    
                    color #fff
                    font-family Montserrat
                    font-size 16px
                    font-weight: 700
                    padding 15px
                    display flex
                    justify-content center
                    align-items: center
                    flex-direction column
    