{{>components/topbar}}

<main class="login-page">


    <div class="sigin-container">
        {{>forms/register}}
        {{>forms/twoFactor}}
    </div>
    

    

    <div class="protect">
       
    </div>

</main>