<div class="container-fluir footerSign">
    <div class="container">
        <div class="row">
            <div class="col-12">
                Como cuidamos da sua privacidade
                <p>Copyright © 1999-2021 Ebazar.com.br LTDA.</p>
            </div>
        </div>
    </div>
</div>