<header class="topbar_nav">
    <div class="topbar_nav__container">
        <a href="#" class="btn-def goto-home">BitMEX Home</a>
        <span class="selector">
            <ul>
                <li>English <i></i></li>
                <li>中文 <i></i></li>
                <li>Русский <i></i></li>
                <li>日本語 <i></i></li>
            </ul>
        </span>
    </div>
</header>
