<div class="container blockInfo__container" id="infos">
    <article class="blockInfo">
        <h2>Informações Individuais</h2>
        <div class="blocks">
            {{#each features}}
            <div>
                <figure>
                    <img src="{{image.url}}" alt="{{image.name}}">
                </figure>

                <h4>{{title}}</h4>

                <p>{{{description}}}</p>
            </div>
            {{/each}}
        </div>
    </article>
</div>
