<div class="container" id="related">

    <div class="col-12">
        <div class="button_comparison">
            <a href="{{related.link}}">{{related.title}}</a>
        </div>
    </div>
    
</div>